Django==5.1.6

# If you plan to use Pillow for handling images in models (commonly required for media uploads)
Pillow>=10.0.0

# Optional but usually useful in Django projects
django-crispy-forms>=2.0

gunicorn
whitenoise
psycopg2-binary
dj-database-url
dj-database-url
gunicorn
whitenoise
django-cloudinary-storage
cloudinary
psycopg2-binary
razorpay>=1.4
python-dotenv>=1.0
pyjwt>=2.9.0
cryptography>=43.0.1
setuptools>=75.0.0